
@{
    ViewBag.Title = "About";
}


<!-- breadcumb-area start -->

        <div class="about-area black-opacity bg-img-3 ptb-80">
            <div class="container">
                <div class="row">
                    <div align="center">
                        <div class="col-xs-12">
                            <div class="breadcumb-wrap">
                                <h2></h2>
                                <h2>Sobre nosotros</h2>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        
            <!--
        <div class="breadcumb-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li>/</li>
                            <li>Sobre nosotros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            -->
        </div>
        <!-- breadcumb-area end -->
        <!-- about-area start -->
        <section class="about-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="about-img">
                            <img src="~/images/about.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="about-wrap">
                            <br />
                            <h3>Conoce mas Sobre nosotros</h3>
                            <p>
                                Somos una alternativa de
                                financiamiento que te permitirá
                                obtener de manera inmediata el
                                dinero de cobranza futura de
                                creditos y facturas existentes a tu
                                favor
                            </p>
                            <br />
                            <h4>Nuestras caracteristicas</h4>
                            <ul>
                                <li>Honestidad.</li>
                                <li>Confidencialidad.</li>
                                <li>Rapidez.</li>
                                <li>Personalizamos cada caso.</li>
                                <li>Trabajamos con las principales agencias bancarias</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-area end -->
