<!-- slider area start -->
<section class="slider-area">
    <div class="slider-active3 slider-next-prev-style">
        <div class="slider-items">
            <img src="~/images/slider/5.jpg" alt="" class="slider">
            <div class="slider-content text-center">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <h2>Welcome to our Martxa</h2>
                                    <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <ul>
                                        <li><a href="#">Read More</a></li>
                                        <li><a href="#">Get Started</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-items">
            <img src="~/images/slider/6.jpg" alt="" class="slider">
            <div class="slider-content text-center">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <h2>Hello i am Martxa</h2>
                                    <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    <ul>
                                        <li><a href="#">Get Started</a></li>
                                        <li><a href="#">Read More</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider area end -->
<!-- .service-area start -->
<section class="service-area home2-service-area ptb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 wow fadeInUp">
                <div class="section-title text-center">
                    <h2>Our Special Service</h2>
                    <p>majority have suffered alteration in some form, by injected humour randomised. injected humour, or randomised.</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                <div class="service-wrap">
                    <div class="service-content">
                        
                        <div>
                            <a class="cont-submit btn-contact btn-style" href="@Url.Action("Index","Empresa")">Agregar Empresa</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                <div class="service-wrap">
                    <div class="service-content">
                        <a class="cont-submit btn-contact btn-style" href="@Url.Action("Seleccion","Home")">Continuar</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
