<!-- slider area start -->
<section class="slider-area">
    <div class="slider-active3 slider-next-prev-style">
        <div class="slider-items">
            <img src="~/images/slider/5.jpg" alt="" class="slider">
            <div class="slider-content text-center">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2">
                                    <h2>Bienvenido a UPC Factoring</h2>
                                    <p>Somos una empresa dedicada a simular y personalizar tus necesidades de facturacion entre las principales agencias bancarias</p>

                                    <!--
                                    <ul>
                                        <li><a href="#">Read More</a></li>
                                        <li><a href="#">Get Started</a></li>
                                    </ul>
                                    -->
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-items">
                <img src="~/images/slider/6.jpg" alt="" class="slider">
                <div class="slider-content text-center">
                    <div class="table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="row">
                                <div class="row">
                                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                                        <h2>UPC Factoring</h2>
                                        <p>Con nuestra ayuda lograras simular el proceso de facturación que realizaran las principales agencias bancarias según tus necesidades</p>
                                        <!--
                                        <ul>
                                            <li><a href="#">Get Started</a></li>
                                            <li><a href="#">Read More</a></li>
                                        </ul>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider area end -->
                                        <!-- .service-area start -->
                                        <section class="service-area home2-service-area ptb-140">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 wow fadeInUp">
                                                        <div class="section-title text-center">
                                                            <h2>Nuestros servicios</h2>
                                                            <p>dentro de los principales servicios que ofrecemos se encuentra:</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".1s">
                                                        <div class="service-wrap">
                                                            <div class="service-content">
                                                                <h3>1</h3>
                                                                <p>
                                                                    Registrate y sube los
                                                                    documentos
                                                                    necesarios para que
                                                                    podamos vereficar tu
                                                                    empresa. Es 100%
                                                                    online y no tendras
                                                                    que firmar ningún
                                                                    papel
                                                                </p>
                                                                <!--<a href="single-service.html">Read More</a> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".2s">
                                                        <div class="service-wrap">
                                                            <div class="service-content">
                                                                <h3>2</h3>
                                                                <p>
                                                                    Sube tus facturas y
                                                                    cre tu primera
                                                                    operación. Una vez la
                                                                    hayamos verificado,
                                                                    empezará la subasta y
                                                                    los inversionistas
                                                                    empezarán a competir
                                                                    para que obtengas la
                                                                    mejor tasa
                                                                </p>
                                                                <!--<a href="single-service.html">Read More</a> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".3s">
                                                        <div class="service-wrap">
                                                            <div class="service-content">
                                                                <h3>3</h3>
                                                                <p>
                                                                    Una vez finalizada la
                                                                    operación, cede tu
                                                                    factura a
                                                                    UPCFactoring. Aquí es
                                                                    cuando ocurre la
                                                                    operación de
                                                                    "factoring". Te
                                                                    explicaremos cómo
                                                                    hacer esto paso a
                                                                    paso, no te
                                                                    preocupes
                                                                </p>
                                                                <!--<a href="single-service.html">Read More</a> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".4s">
                                                        <div class="service-wrap">
                                                            <div class="service-content">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".5s">
                                                        <div class="service-wrap">
                                                            <div class="service-content">
                                                                <h3>4</h3>
                                                                <p>
                                                                    ¡Recibe tu dinero!
                                                                    Te transferiremos el
                                                                    adelanto de tu factura
                                                                    para que puedas
                                                                    seguir con tu
                                                                    empresa. Cuanto tu
                                                                    cliente nos pague la
                                                                    factura, te
                                                                    transferiremos el
                                                                    remanente
                                                                </p>
                                                                <!--<a href="single-service.html">Read More</a> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" data-wow-delay=".6s">
                                                        <div class="service-wrap">
                                                            <div class="service-content">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
