@{
    ViewBag.Title = "Index";
}

    <div class="faq-area">
        <div class="container">

            <div class="col-md-6 col-xs-12 fadeInRight wow">
                <div class="faq-form form-style">

                    <div class="row">
                        <div class="col-md-6 col-xs-12 fadeInRight wow">
                            <div class="faq-form form-style">
                                <div class="cf-msg"></div>


                                    @using (Html.BeginForm("Sesion", "Login"))
                                    {
                                        <form action="#" method="post">
                                            <div class="row">

                                                <div class="col-xs-12">
                                                    <span>Email</span>
                                                    @Html.TextBox("email")
                                                </div>
                                                <div class="col-xs-12">
                                                    <span>Contraseña</span>
                                                    @Html.Password("pass")
                                                </div>


                                                <input type="submit" value="LogIn" />
                                            </div>
                                        </form>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



